<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.gemini.downloadimages</string>
	<key>Program</key>
	<string>/Users/yasushi/Documents/code/gemini-view/download.sh</string>
	<key>StandardErrorPath</key>
	<string>/tmp/com.gemini.downloadimages.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.gemini.downloadimages.stdout</string>
	<key>StartInterval</key>
	<integer>60</integer>
</dict>
</plist>
